.App {
  text-align: center;
}

.active {
  font-weight: bold;
}

.header {
  display:          "flex";
  align-items:      "center";
  height:           6vh;
  background-color: #3dc4fc;
  color:            white;
  text-decoration:  none;
}

.header a {
  color:            white;
  text-decoration:  none;
}